@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Noto Sans", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

:root {
    --darkBlue: hsl(224, 68%, 29%);
    --lightBlue: hsl(186, 79%, 71%);
    --pink: hsl(328, 59%, 82%);

    --xsSpacer: 0.625rem;
    --sSpacer: 0.938rem;
    --mSpacer: 1.563rem;
    --lSpacer: 3.125rem;
    --xlSpacer: 6.25rem;
 
}

/* Nav css */
.topNav {
    background: var(--darkBlue);
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.topNav a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    height: 4rem;
    padding: 0.6rem;
}

.topNav a img {
    color: white;
    height: 2.5rem;  
}

.topNav p {
    margin: 0;

}

.loginCapsule {
    padding: 0.6rem;
}

.loginCapsule a  {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: var(--lightBlue);
    height: 4rem;
    width: 10rem;
    gap: 1.2rem;
    border-radius: 50px;
}

.kfumLogoCapsule {
    position: fixed;
    top: 2rem;
    left: 50px;
}

.kfumLogoCapsule img {
    height: 10rem;
    width: auto;
}

.facebookLogoCapsule{
    position: fixed;
        top: 7rem;
        left: 11.5rem;
}

/* Her kommer det underste af navigationsbaren */
nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
}

nav ul {
    list-style: none;
}

.capsule {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    margin: 0;
    border-bottom-left-radius: 20px;
    background: hsla(224, 68%, 29%, 0.5);
    position: absolute;
    right: 0;
    padding-inline: 2rem;
    padding-block: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .insideDropdown {
    display: block;
}

.insideDropdown {
    display: none;
    position: absolute;
    background: hsla(224, 68%, 29%, 0.5);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.dropdown ul {
    width: 18rem;
    padding: 2rem;
    transform: translate(-76px, 0px)
}


.insideDropdown ul {
    position: relative;
    width: 150px;
    margin: 0;
    padding:1rem;
}

.insideDropdownUnder {
    display: none;
    border-bottom-left-radius: 0px;
    margin-block: 0.5rem;
}

.insideDropdown li:hover .insideDropdownUnder {
    display: block;
}























/* EMILIAS CSS */



















































/* Samantas CSS */

/* Aktiviteter */
.aktivitetsKnapper {
    gap: 10%;
}

.aabenAktiviteter {
    background-color: #D9D9D9;
    border: none;
    padding: 20px;
    width: 40%;
    text-align: center;
    transition: 0.4s;
    gap: 10%;

}
.active, .aabenAktiviteter:hover {
    background-color:#D9D9D9;
}

/*kalender*/

.aktivitetKalender {
    background-color: #E1F5FA;
    padding-inline-end: 40px;
    padding-bottom: 40px;
}
.moened,.dage {
    list-style-type: none;
    width: 100%;
    
}
.moened{
    padding: 10px 20px;
}
.dage {
    font-size: 0.7rem;
    text-align: start;
    display: grid;
    grid-template-columns: repeat(7, 5fr);
}

.dage li {
    padding-bottom: 40%;
        padding-left: 40%;
        padding-right: 30%;
    border: solid black 0.01rem;
    background-color: white;
    display: flex;
}
.moened {
    display: flex;
    gap: 5%;
}
#holdSelector, #activitySelector {
    background-color: #D9D9D9;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    align-items: center;
    margin-left: 40px;

}

/* Medie queiries*/





































/* Arnis CSS */