@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Noto Sans", sans-serif;
    box-sizing: border-box;
    line-height: 150%;
}

body {
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

header{
    margin-bottom: var(--lSpacer);
}

:root {
    --darkBlue: hsl(224, 68%, 29%);
    --lightBlue: hsl(186, 78%, 71%);
    --green: hsl(122, 64%, 88%);
    --veryLightBlue: hsl(192, 72%, 93%);

    --xsSpacer: 0.625rem;
    --sSpacer: 0.938rem;
    --mSpacer: 1.563rem;
    --lSpacer: 3.125rem;
    --xlSpacer: 6.25rem;
 
}

.breadCrumb{
    color: black;
    margin-left: var(--sSpacer);
}

.breadCrumbSektion{
    margin-bottom: var(--mSpacer);
}

/* Nav css */
.topNav {
    background: var(--darkBlue);
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

nav li{
    /* border-bottom: 2px solid white; */
    margin-block: 0.5rem;
}

.topNav a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    position: relative;
}

.topNav img {
    color: white;
    height: 1rem;  
}

.topNav p {
    margin: 0;
    font-size: 0.6rem;
}

.loginCapsule {
    padding: 0.3rem;
}

.loginCapsule a  {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: var(--lightBlue);
    height: 1.8rem;
    width: 5rem;
    gap: 0.4rem;
    border-radius: 50px;
    color: black;
}

.loginCapsule a p{
    color: black;
}

.kfumLogoCapsule {
    position: absolute;
    left: 1rem;
    top: 0.1rem;
}

.kfumLogoCapsule a {
    padding: 0;
}

.kfumLogoCapsule img {
    height: 2.8rem;
    width: auto;
    top: 0;
}

.facebookLogoCapsule{
    position: absolute;
        top: 1.2rem;
        left: 3.5rem;
}

/* Her kommer det underste af navigationsbaren */
nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 0.4rem;
}

nav ul {
    list-style: none;
}

.capsule {
    display: flex;
    justify-content: flex-end;
    gap: 0.6rem;
    margin: 0;
    border-bottom-left-radius: 20px;
    background: hsla(224, 68%, 29%, 0.8);
    position: absolute;
    right: 0;
    padding-inline: 1rem;
    padding-block: 0.3rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown ul {
    width: 9rem;
    padding: 1rem;
    transform: translate(-45px, 0px)
}

.dropdown:hover .insideDropdown {
    display: block;
}

.insideDropdown {
    display: none;
    position: absolute;
    background: hsla(224, 68%, 29%, 0.5);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.insideDropdown a {
    font-size: 0.4rem;
}

.insideDropdown ul {
    position: relative;
    width: 7rem;
    margin: 0;
    padding: 0rem;
    transform: translate(0px, 0px)
}

.insideDropdownUnder {
    display: none;
    border-bottom-left-radius: 0px;
    background: hsla(224, 68%, 29%, 0.5);
}

.insideDropdownUnder li {
    padding-left: 0.5rem;
}

.insideDropdown li:hover .insideDropdownUnder {
    display: block;
}


/* Generel styling mobil layout */
h1 {
    font-size: 1.25rem;
    margin: 0;
    margin-bottom: var(--xsSpacer);
}

h2 {
    font-size: 1rem;
    margin: 0;
    margin-bottom: var(--xsSpacer);
    font-weight: 600;
}

p {
    font-size: 0.75rem;
    margin: 0;
}

.desktop {
    display: none;
}

section {
    margin-block: var(--mSpacer);
}

.knap {
    display: block;
    text-decoration: none;
    background-color: #6BCBE4;
    color: black;
    padding: 1rem 3rem;
    margin: 1rem auto;
    width: fit-content;
}

.knap:hover{
    transform: scale(1.1);
    transition: 200ms;
}

.skygge {
    box-shadow: 5px 5px 6px gray;
}

/* */
/* Styling forside */
/* */
.mobilHeader {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*Kamp sektion*/
.kampPogram {
    display: flex;
    justify-content: center;
}

.kamp {
    background-color: var(--green);
    padding: 0.5rem;
}

.kamp p {
    font-size: 10px;
}

.kamp h3 {
    font-size: 12px;
}
.kampIntro {
    text-align: center;
}

.spillerKamp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.5rem;
}

.spillerKamp img {
    background-color: white;
    border-radius: 50%;
    height: 4rem;
    object-fit: scale-down;
}

.kampHold {
    display: flex;
    justify-content: space-evenly;
}

.kampHold p {
    font-weight: bold;
}

.kampTidspunkt {
    display: flex;
    justify-content: center;
}

.kampTidspunkt p {
    margin: 0.3rem;
}

.spillerKamp img {
    height: 3rem;
}

.kamppil {
    background: none;
    border: none;
}

.kamppil img {
    background-color: transparent;
    height: 1rem;
}

/*Velkommen sektion*/
.velkommen{
    margin-inline: var(--sSpacer);
}

.velkommen p{
    margin: 0.5rem 0;
}

/*Nyheder sektion*/
.nyhederForside{
    margin-inline: var(--sSpacer);
}

.flerenyhederKort {
    width: 10vw;
    padding-top: 0;
    padding-bottom: 0;
}

.nyhederKort {
    margin-bottom: var(--mSpacer);
    height: 20rem;
    position: relative;
    border: 0.1rem solid black;
}

.effekte {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0), rgba(255, 255, 255, 1));
}

.nyhederKort img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nyhederKort h3 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1rem;
    color: black;
}

/*tilmeld intro*/
.tilmeldIntro {
    margin-inline: var(--sSpacer);
}

/* Sponsor sektion */
.nordjyskeBankTak {
    margin-inline: var(--sSpacer);
    display: flex;
    align-items: center;
}

.nordjyskeBankTak img {
    margin: var(--sSpacer);
}

/*Galleri sektion*/
.slider {
background: var(--veryLightBlue);
overflow: hidden;
}

.slider h2 {
    margin-left: var(--sSpacer);
    margin-top: var(--sSpacer);
}

.sliderBilleder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.sliderBilleder img {
    height: 8rem;
    width: auto;
    
}

.mobilSliderPil {
    display: flex;
    justify-content: center;
}


.mobilSliderPil button {
    background: none;
    border: none;
    padding: var(--sSpacer);
}

.sponsorSlider {
    background: none;
}

.sponsorSlider img {
height: 4rem;
width: auto;
}

.mobilSliderPil img {
    height: 1.5rem;
    width: auto;
}


/*Footer*/
footer {
    background-color: var(--darkBlue);
    margin-top: var(--sSpacer);
}

.footerInfo {
    display: flex;
    justify-content: space-around;
    padding-top: var(--sSpacer);
}

.footerLogo {
width: 3.5rem;
}

footer a,
footer p {
    color: white;
    font-size: x-small;
}

.footerletter {
    background-color: rgb(255, 255, 255);
    height: 0.6rem;
}

.footerNav a {
    display: flex;
    flex-direction: column;
    padding: 0.2rem 1rem;
    margin-block: 0.5rem;
}

footer hr {
    margin: var(--sSpacer) var(--mSpacer);
}

.copPri {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding-bottom: var(--sSpacer);
}

.politikFooter {
    display: flex;
    align-items: center;
}

/*  */
/*  */
/*  */
/* Hold afdelinger */
.afdeling {
    margin-inline: var(--sSpacer);
}

.afdeling p {
    margin: 0.5rem 0;
}

/* Traner er class og krokodille næbet betyder at billedet er direct child af classen */
.holdAnsvarlig > img {
    border-radius: 50%;
    height: 10rem;
}

.holdAnsvarlig{
    margin-top: var(--mSpacer);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mailSektion{
    display: flex;
}

.telefonSektion{
    display: flex;
}

.kontaktIkon{
    width: 20px;
    height: auto;
    margin: 0.5rem;
}

.afdeling > img{
    width: 100%
}

.holdCard {
    border: 2px solid black;
    box-shadow: 5px 5px 5px gray;
    margin: var(--sSpacer);

}

.holdCard a {
    text-decoration: none;
    color: black;
}

.holdCard a>img {
    width: 100%;
}

.holdCard h2{
    margin-left: var(--sSpacer);
}

.holdAlderOgPris {
    display: flex;
    justify-content: space-between;
    margin-inline: var(--sSpacer);
    margin-bottom: var(--sSpacer);
}

.filter {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}

/*  */
/*  */
/*  */
/* Holdside */

.holdIntroBox{
    margin: var(--sSpacer);
}

.TraeningsTider{
    background-color: var(--green);
    margin: var(--sSpacer);
    padding: var(--sSpacer);
}

.TraeningsTider h4{
    margin: 0 0 var(--sSpacer) 0;
}

.Kontigent{
    background-color: var(--veryLightBlue);
    margin: var(--sSpacer);
    padding: var(--sSpacer);
}

.Kontigent a{
    display: block;
    text-decoration: none;
    background-color: var(--lightBlue);
    color: black;
    padding: 1rem 3rem;
    margin: 1rem auto;
    width: fit-content;
}

.holdBillede{
    width: 100%;
}

.traenerSektion h3{
    margin: var(--sSpacer);
}

.traener{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-end: var(--mSpacer);
}

.traener img{
    border-radius: 50%;
}

.mailSektion{
    display: flex;
    align-items: center;
}

.telefonSektion{
    display: flex;
    align-items: center;
}

.traener p{
    margin-block: 5px;
    font-size: 0.8rem;
}

.stilling{
    background-color: var(--veryLightBlue);
    padding-top: var(--sSpacer);
}

.stilling h2{
    margin-inline: var(--sSpacer);
}

.stillingsTabel{
    width: 100%;
    padding: var(--sSpacer);
}

.stillingsTabel td{
    text-align: center;
    font-size: 0.75rem;
}

.stillingsTabel th{
    font-size: 0.75rem;
}





/**/
/*Målstninger side*/
.breadcrumbs {
    display: flex;
    margin: 0.2rem 0.2rem;
    justify-content: flex-start;
}

.breadcrumbs a {
    color: black;
}

.breadcrumbs a, .breadcrumbs p
{
    margin: 0 0.2rem;
}

.sideDuPaa {
    font-weight: bolder;
}

/*misson intro*/
.missionIntro p {
    max-width: 75ch;
}

.mission {
    display: flex;
    align-items: center;
    margin: 0 var(--mSpacer);
}

.mission img {
   width: 6rem;
}

/*Maalsaetninger kort*/

.allKortMaalsaetninger img {
    width: 10rem;
}

.cardMaal {
    text-align: center;
    margin: var(--mSpacer);
    width: 20rem;
    height: 20rem;
    position: relative;
    border: 0.1rem solid black;
}

.faellesskab {
    margin-bottom: 2.5rem;
}

.cardMaal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardMaal p {
    position: absolute;
    font-weight: bolder;
    font-size: 1.1rem;
    bottom: 5%;
    left: 4%;
}

.ordenlighedIndhold {
    position: relative;
}

.faellesskabIndhold {
    position: relative;
}

.udvikling {
    position: relative;
}

/*maal indhold*/

.popupCardMaal {
    /*dette card kan ikke ses for man cliker paa det*/
    display: none;
    position: absolute;
    top: 170px;
}

.udviklingPopup img {
    object-position: 100% 20%;
}

.faellesskabPopup img {
    object-position: 100% 10%;
}

.maalIndehold {
    text-align: center;
    background-color: #e1f5fa;
    margin: var(--mSpacer);
    width: 20rem;
    height: 20rem;
    position: relative;
    border: 0.1rem solid black;
    box-shadow: 5px 5px 6px gray;
}


.udviklingIndhold {
    height: 22rem;
}

.maalIndehold h3 {
    margin: 0.5rem var(--xsSpacer);
}

.maalIndehold p {
    margin: 0.5rem var(--xsSpacer);
}

.lukKnap {
    background-color: hsl(328, 86%, 77%);
    border: none;
    padding: 0.2rem 0.9rem;
    font-size: small;
    box-shadow: 4px 4px 4px gray;
}

.lukKnap:hover {
    background-color: hsl(328, 77%, 88%);
}
.ordenlighedPopup{
    top: 53.5vw;
}

.faellesskabPopup{
    top: 143vw;
}

.udviklingPopup{
    top: 235vw;
}

/* Samantas CSS */

/* Aktiviteter */
.aktivitetsKalenderen h1{
    font-size: 1.25rem;
        margin: 0;
        margin-bottom: var(--xsSpacer);
        margin-left: 2rem;
}

.aarshjulBillede {
    width: 90%;
    margin-block: var(--sSpacer);
    margin-inline: var(--sSpacer);
}
.active,
.aabenAktiviteter:hover {
    background-color:hsl(186, 39%, 55%) ;
}

/*kalender*/
.aktivitetKalender ,.dage{
    background-color: #E1F5FA;
    padding-inline-end: 40px;
    padding-bottom: var(--mSpacer);
    width: 100%;
}

.moened,
.dage {
    list-style-type: none;
    width: 100%;
}

.moened {
    padding: 10px 20px;
    margin-left: var(--sSpacer);
}

.dage {
    font-size: 70%;
    text-align: start;
    display: grid;
    grid-template-columns: repeat(7, 5fr);
}

.dage li {
    padding-bottom: 40%;
    padding-left: 40%;
    padding-right: 30%;
    border: solid black 0.01rem;
    background-color: white;
    display: flex;
    position: relative;
}
.prikker {
    display: flex;
    padding-top: 2.5rem;
    gap: 4px;
    position: absolute;
}

.traeningSenioKvinder {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: lightcoral;
}
.traeningSeniorMand {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: darkblue;
}
.traeningUngdom{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: orange;
        
}
.traeningBoern{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: lightseagreen;
    padding-left: 5px;
}
.moened {
    display: flex;
    gap: 5%;
}
#holdSelector,
#activitySelector {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-inline: var(--mSpacer);
    width: 9rem;
}

/* Sponsor side*/
.mainSponsor{
     margin-top: 40px;
     margin-left: 40px;
    line-height: 1.6rem;
    font-size: 0.9rem;
}
.infoSponsorer {
    width: 90%;
    line-height: 1.6rem;
    
}
.kontaktInfo {
    padding-top: 40px;
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.6rem;
}
.kontaktInfo h4 {
text-decoration: none;
}
.sponsoransvarlig img{
    width: 150px;
}
.stoetKlubben img{
    width: 50%;
    align-content: center;
    padding-top: 20px;
    
}
.stoetKlubben {
    padding-right: 40px;
}


.OKSponsor img{
padding-bottom: 1rem;
width: 70%;
}
.OKSponsor p {
    padding-bottom: 20px;
    width: 90%;
}

.TommyTeltSponsor p {
    padding-bottom: 1.25rem;
    width: 90%;
    margin-right: 40px;
    
    
}
.sponsorSektion {
padding-top: 2.5rem;
}
.alleSponsorer{
    display: grid;
    grid-template-columns: repeat(2, 9fr);
    
}
.alleSponsorer img {
    max-width: 70%;
    padding-bottom: 20%;
}
.knapper{
    background-color: var(--lightBlue);
    text-decoration: none;
    color: black;
        border: none;
        padding: 20px;
        width: 40%;
        text-align: center;
        transition: 0.4s;
        gap: 10%;
}

.scrollUpButton{
    background-color: var(--lightBlue);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-inline: auto;
    margin-block: 1rem;
}

.pilUpTilToppen{
    height: 50px;
}

/*Media queries*/

 @media screen and (min-width: 780px){
    nav a {
        font-size: 0.9rem;
    }

    .sliderBilleder img{
        height: 250px;
        width: auto;
    }

    .sponsorSlider img{
        height: 70px;
        width: auto;
    }

    .insideDropdown a {
        font-size: 0.9rem;
    }

    .aabenAktiviteter {
            width: 15rem;
            gap: 10rem;
            display: inline-block;
            margin-left: var(--mSpacer);
        }
    
        #holdSelector,
        #activitySelector {
            gap: 5rem;
            width: 10rem;
            margin-left: 40px;
        }
    
    .traeningSenioKvinder,.traeningSeniorMand,.traeningUngdom,.traeningBoern {
        width: 12px;
        height: 12px;
                }
    .mainSponsor {
        line-height: 1.7rem;
        font-size: 1rem;
    }
    .infoSponsorer p{
        font-size: 1rem;
    }
    .sponsoransvarlig{
        width: 170px;
    }
    .infoSponsorer{
        width: 50%;
    }
    .kontaktInfo{
        margin-left: 5rem;
        padding-bottom: 3rem;
    }
.infoSponsorer, .kontaktInfo{
    display: inline-block;
}
.alleSponsorer {
    display: grid;
    grid-template-columns: repeat(3, 7fr);
}
.stoetKlubben {
    display: flex;
    width: 100%;
    gap: 30px;
    font-size: 1.1rem;
}
    
.OKSponsor,.TommyTeltSponsor{
      width: 60%;

}
    
    /*maalseatninger*/
    .mission{
    justify-content: space-between;
}
.sponsor img{
    width: 9rem;
}
.allKortMaalsaetninger{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.ordenlighedPopup{
    top: 22vw;
    left: 2vw;
}

.faellesskabPopup{
    top: 22vw;
    left: 52vw;
}

.udviklingPopup{
    top: 66vw;
}

.introSektion{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: var(--sSpacer);
}

.holdBillede{
    grid-column: 2;
    grid-row: 1;
    align-self: center;
}

.TraeningsTider{
    grid-column: 1;
    grid-row: 2;
}

.Kontigent{
    grid-column: 2;
    grid-row: 2;
}

.kampStatus{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: var(--sSpacer);
    align-items: center;
}

.kampPogram{
    grid-column: 1 / span 2;
}

.stilling{
    margin: var(--sSpacer);
}

.traenerSektion{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#traenerSektion h3{
    margin-left: var(--mSpacer);
}

.afdeling{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.holdSektion{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

 }



/* Arnis CSS */

/* .kontaktIkon{
    width: 25px;
    height: 25px;
    margin: 0.5rem;
}

.mailSektion, .telefonSektion{
    display: flex;
    align-items: center;
}

.traener{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: span 3;
}

.traener > img{
    border-radius: 50%;
}

.traenerSektion{
    display: grid;
    margin: 0 100px;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}

.introSektion{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    /* margin: 0 100px 100px 100px; */
/* }

.holdBillede{
    grid-column: 9 / span 3;
    max-width: 100%;
}

.TraeningsTider{
    grid-column: 9/ span 3;
    background-color: hsl(330, 85%, 67%);
    padding: 1rem;
}

.TraeningsTider p, h4{
    margin: 0;
}

.Kontigent{
    grid-column: 9 / span 3;
    background-color: #E1F5FA;
    padding: 1rem;
}

.Kontigent p{
    margin: 0;
}

.Kontigent a{
    display: block;
    text-decoration: none;
    background-color: #6BCBE4;
    color: black;
    padding: 1rem 3rem;
    margin: 1rem auto;
    width: fit-content;
} */ 


/* Arnis CSS*/
/* .holdIntroBox{
    grid-column: 2 / span 6;
    grid-row: 1 / 4;
}



.holdCard{
    border: 2px solid black;
    box-shadow: 5px 5px 5px gray;
}

.holdCard a{
    text-decoration: none;
    color: black;
}

.holdCard a > img{
    width: 100%;
}

.holdSektion{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin: 0 100px;
}


.holdAlderOgPris{
    display: flex;
    justify-content: space-between;
}

.afdeling{
    margin: 0 100px;
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.afdelingBeskrivelse{
    padding: 1rem;
    grid-column: 1 / span 2;
}

.afdelingBeskrivelse p{
    margin: 1rem 0;
}

.holdAnsvarlig{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.holdAnsvarlig > img{
    border-radius: 50%;
}

.filter{
    display: flex;
    justify-content: center;
    margin: 1rem;
} */
/*her starter desktop*/

@media screen and (min-width: 1100px) {

    .breadCrumb:nth-of-type(1) {
            margin-left: 150px;
            color: black;   }
    
    h1 {
            font-size: 1.5rem;
            margin: 0;
            margin-bottom: var(--xsSpacer);
        }
    
        h2 {
            font-size: 1.25rem;
            margin: 0;
            margin-bottom: var(--xsSpacer);
            font-weight: 600;
        }
    
        p {
            font-size: 1rem;
            margin: 0;
            max-width: 75ch;
        }

    .nyhederForside h2{
        margin-left: 150px;
    }

    .nyhederForside{
        margin: 0;
    }

    .mobil{
        display: none;
    }
    .desktop{
        display: block;
    }

    .velkommen, .tilmeldIntro, .nordjyskeBankTak, .kontaktIntro{
        margin-inline: 150px;
    }

    .nyhederKort{
        margin: 1rem;
    }

    .knap{
        justify-self: center;
    }

    /* Nav css */
        .topNav {
            background: var(--darkBlue);
            height: 5rem;
            display: flex;
            justify-content: flex-end;
            gap: 2rem;
        }
    
        .topNav a {
            text-decoration: none;
            color: white;
            display: flex;
            flex-direction: column;
            padding: 0.5rem;
        }
    
        .topNav a img {
            color: white;
            height: 2.5rem;
        }
    
        .topNav p {
            margin: 0;
        }
    
        .loginCapsule {
            padding: 0.2rem;
        }
    
        .loginCapsule a {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            background: var(--lightBlue);
            height: 4rem;
            width: 10rem;
            gap: 1.2rem;
            border-radius: 50px;
        }
    
        .kfumLogoCapsule {
            position: absolute;
            top: 0px;
            left: 10px;
            height: 10rem;
        }
    
        .topNav .kfumLogoCapsule img {
            height: 7rem;
            width: auto;
        }
    
        .facebookLogoCapsule {
            position: absolute;
            /* top: 1rem; */
            left: 10rem;
        }
    
        /* Her kommer det underste af navigationsbaren */
        nav a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-size: 1.1rem;
        }
    
        nav ul {
            list-style: none;
        }
    
        .capsule {
            display: flex;
            justify-content: flex-end;
            gap: 1.3rem;
            margin: 0;
            border-bottom-left-radius: 20px;
            background: hsla(224, 68%, 29%, 0.5);
            position: absolute;
            right: 0;
            padding-inline: 2rem;
            padding-block: 1rem;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
        }
    
        .dropdown {
            position: relative;
            display: inline-block;
        }
    
        .dropdown ul {
            width: 20rem;
            padding: 2rem;
            transform: translate(-76px, 0px)
        }
    
        .dropdown:hover .insideDropdown {
            display: block;
        }
    
        .insideDropdown {
            display: none;
            position: absolute;
            background: hsla(224, 68%, 29%, 0.5);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
            z-index: 1;
        }
    
        .insideDropdown a {
            font-size: 1.1rem;
        }
    
    
        .insideDropdown ul {
            position: relative;
            width: 16rem;
            margin: 0;
            padding: 0rem;
            transform: translate(0px, 0px)
        }
    
        .insideDropdownUnder {
            display: none;
            border-bottom-left-radius: 0px;
            background: hsla(224, 68%, 29%, 0.5);
        }
    
        .insideDropdownUnder li {
            padding-left: 1.5rem;
        }
    
        .insideDropdown li:hover .insideDropdownUnder {
            display: block;
        }    .mainSponsor {
            line-height: 1.9rem;
            font-size: 1.1rem;
        }

    /*sponsor side*/
 .mainSponsor {
     line-height: 1.8rem;
     font-size: 2rem;
 }

 .infoSponsorer p {
     font-size: 1rem;
 }

 .sponsoransvarlig img {
     width: 170px;
 }

 .infoSponsorer,
 .kontaktInfo {
     display: inline-block;
 }


 .stoetKlubben {
     width: 70%;
    
 }
   
         .alleSponsorer {
        display: grid;
        grid-template-columns: repeat(4, 6fr);
    }

/* Aktivitets siden*/
        #holdSelector,
        #activitySelector {
            gap: 10rem;
            width: 15rem;
            margin-left: 10rem;
        }
        #holdSelector,
        #activitySelector {
            gap: 10rem;
            width: 15rem;
            margin-left: 10rem;
        }
         .traeningSenioKvinder, .traeningSeniorMand , .traeningUngdom, .traeningBoern {
        width: 15px;
        height: 15px;
}

   
  
/*tilmeld intro*/
.knap{
margin: 1.5rem 20rem;
}
/*nyhede*/
.flerenyhederKort {

        padding: 6rem 3rem;
}
.mobil {
    display: none;
}



.desktopHeader {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    object-position: 30% 40%;
}
/*forside*/
/*kamp*/

.kamp{
    margin:0 var(--xsSpacer);
}
/*nyheder*/
.nyhederKortall{
    display: flex;
    justify-content: space-between;
}

.nyhederKort{
    width: 30vw;
}

/*med paa holdet*/


/*nordjyskebank*/


/*favbilleder*/
.favBilleder img {
    width: 65%;
    max-height: 15rem;
    object-fit: scale-down;
}

.favDeskPil {
    background: none;
    border: none;
    align-items: center;
    margin: var(--xsSpacer);
}

.favDeskPil img {
    width: 1.1rem;
}

.afdeling{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-inline: var(--xlSpacer);
}

.afdeling

.afdelingBeskrivelse{
    grid-column: 1 / span 2;
}

.holdSektion{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-inline: var(--xlSpacer);
}

.introSektion{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-inline: var(--xlSpacer);
    gap: 1.5rem;
}

.holdIntroBox{
    grid-column: 1 / span 2;
    margin: 0;
}

.holdIntroBox p{
    margin: 0;
}

.holdBillede{
    grid-column: 3;
    grid-row: 1;
    max-width: 400px;
    justify-self: center;
    align-self: center;
}

.TraeningsTider{
    grid-column: 3;
    grid-row: 2;
}

.Kontigent{
    grid-column: 3;
    grid-row: 3;
}

.stilling{
    max-width: 600px;
    margin-inline: auto;
}

.traenerSektion{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#traenerSektion h3{
    margin-left: var(--xlSpacer);
}

.sponsorSlider h2{
    margin-left: var(--xlSpacer);
}

/*maalseatninger*/
.ordenlighedPopup{
    top: 21.5vw;
    left: 0vw;
}

.faellesskabPopup{
    top: 21.5vw;
    left: 33.5vw;
}

.udviklingPopup{
    top: 21.5vw;
    left: 66.5vw;
} 

.allKortMaalsaetninger{
       margin-bottom: 10rem; 
}

.maalIndehold{
        height: 27.5rem;
    }
/*maal indhold*/



}

@media screen and (min-width: 2000px){
    main{
        margin-inline: 300px;
    }

    .nyhederKortall{
        margin: var(--sSpacer);
    }

    .nyhederKort{
        margin: var(--sSpacer);
    }
}